{% extends 'base.html' %}

{% block title %}我的预约情况{% endblock %}

{% block body %}
    <table class="table table-bordered">
    <tr>
        <th>时间</th>
        <th>预约人</th>
        <th>仪器</th>
        <th>操作</th>
    </tr>
    {% if my_order %}
        {% for i in my_order %}
            <tr>
                <td>{{ i.time }}</td>
                <td>{{ i.user }}</td>
                <td>{{ i.instrument }}</td>
                <td>
                    {% if request.user == i.user %}
                        <a href="{% url 'instrument:delete' i.instrument.id i.id %}">取消</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
    <p>说明：管式炉1和管式炉2在物理间，管式炉3在娟姐办公室！</p>
{% endblock %}